<!DOCTYPE html>
<html>
  <head>
  
    <title> TaskYak </title>
    <link href="css/ripples.min.css" rel="stylesheet">
    <link href="css/material-wfont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="http://bsdp-assets.blackcherry.us/1.3.0/datepicker.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
    <style type="text/css">
        select.frecuency {
            border: none;
            font-style: italic;
            background-color: transparent;
            cursor: pointer;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: -webkit-transform .35s ease-in;
            transition: -webkit-transform .35s ease-in;
            border-bottom: none;
        }
        select.frecuency:focus {
            outline: none;
            border-bottom: 5px solid #39b3d7;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            -webkit-transition: -webkit-transform .35s ease-in;
            transition: -webkit-transform .35s ease-in;
        }
      </style>
      
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="http://bsdp-assets.blackcherry.us/1.3.0/bootstrap-datepicker.min.js"></script>
      <script src="/js/bootstrapValidator.min.js"/></script>
      <script src="/js/formValidator.js"/></script>
      <script src="/js/spinner.js"/></script>
      <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
 </head>
  <body onload="addtaskValidator();">
    <div class="container">
      <header>
        <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span>TaskYak</h1>
        </div>
      </header>
      

      <nav class="navbar col-md-3" role="navigation" style="border-right:1px solid #ddd;padding: 0; background:#FFFFFF;">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                <ul class="nav nav-pills nav-stacked">
                  <li class="home"> <a href="/profile">Home</a> </li>
                  <li class="newTask active"> <a href="#">Add Task</a> </li>
                  <li class="taskList"> <a href="/tasklist">View Tasks</a> </li>     
                  <li class="listRoommates"> <a href="/listroommates">Add Group</a> </li>
                  <li class="groupDetails"><a href="/groupdetails">My Groups</a></li>
                  <li> <a href='/logout'>Logout</a> </li>
               </ul>
             </div>
           </div>
     </nav>
 
        <div class="col-sm-6 col-sm-offset-1 content">
          <h2> Add task</h2>
         <form id="addtask" name="addtask" action="/addtask" method="post">
            <div class="form-group">
              <input id="taskName" type="text" placeholder="A short description of the task" name="taskName" class="form-control">
            </div>

               <div class="form-group">
              <input id="taskPriority" type="text" placeholder="Points on a scale of 1 to 10" name="taskPriority" class="form-control">
            </div>
            <div class="form-group">
                <div class="input-group date">
                  <input id="dueDate" type="text" class="form-control" placeholder="If needed, specify a deadline" name="dueDate"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
            </div>
            <br>
            <div class="form-group">
            <hgroup>
          <h4>
            Recur this task
             <select id="frequency" name="frequency" class="frecuency" class="form-control"> 
                 <option value="0" selected="">No</option>
                 <option value="1">weekly</option>
                 <option value="2">monthly</option>
             </select>
          </h4>
         </hgroup>
            </div>
             <div class="form-group">
            <h4>How many times do you want to recur this?</h4>
              <div class="input-group number-spinner">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                </span>
                <input id ="recurScore" name="recurScore" type="text" class="form-control text-center" value="1">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="up"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
              </div>
              </div>

            <div class="form-group">
            <h4>Choose group</h4>
            <div class="col-md-9 col-xs-4">
                <select class="form-control" name="groupName" id="groupName">
                <%for (var i = 0;i<groups.length;i++) {%>       
                    <option value= '<%= groups[i].groupName %>' /><%= groups[i].groupName %> </option>  
                <% }%>              
                </select>
                </div>
            </div>
        <br>
            <div class="form-group">
			       <!-- <h4>List roommates responsible for this task</h4>
                <div class="col-md-9 col-xs-4">
                <select class="form-control" name="taskDoer" id="taskDoer">
                <%for (var i = 0;i<groups.length;i++) {%> 
                  <%for (var j = 0; j<groups[i].groupMembers.length; j++) {%>
                    <option value= '<%= groups[i].groupMembers[j] %>' /><%= groups[i].groupMembers[j] %> </option>
                  <% }%>                 
                <% }%>              
                </select>
                </div>
                <div class="col-md-3 col-xs-4">
                  <button name="add" id="add" type="button" class="btn btn-info btn-sm" > Add </button> 
                </div>
              </div> -->
              <div id="break">
                <br>
              </div>
              <!-- <div id="doers"></div><br> -->
              <button id="btnsubmit" type="submit" class="btn btn-warning btn-sm"> Submit Task </button>  
            </div>
            </div>
        </div>
          </form>
          <div id="break">
                <br>
              </div>
              <div id="break">
                <br>
              </div>
        
      
    <script type="text/javascript">
      var groupsList = document.addtask.groupName;

      var taskDoerList = document.addtask.taskDoer;
      
      function updateTaskDoer(selectedGroup){
        taskDoerList.options.length = 0;
        if(selectedGroup > 0)
        {
          for(var i = 0; i < groups[selectedGroup].groupMembers.length; i++){
            taskDoerList.options[taskDoerList.options.length] = new Option(groups[selectedGroup].groupMembers[i], groups[selectedGroup].groupMembers[i]);
          }
        }
        else{
          taskDoerList.options[0] = new Option("None", "None");
        }
      }

      $(function () {
        $(".date").datepicker();
      });

      $(document).ready(function() {
        $("button[name='add']").click(function () {
          var name = document.getElementById("taskDoer").value
        $("#doers").append("<div id='this' onClick='removeFriend(this)' ><input type='text' style='border:none' name='list'  value='"+name+"' />"+"&nbsp;<span class='glyphicon glyphicon-remove' style='color:#7F7F7F;'></span><br></div>");
        $("#taskDoer").val('');
        console.log("groupsList length"+document.addtask.groupName.options.length);
        }); 

        $("#btnsubmit").click(function () {
            if( $('#doers').is(':empty') && $('#taskName').val().length > 0) {
              alert("Please assign this task to atleast one roommate");
                event.preventDefault();
            }
        });

      }); 

      
      function removeFriend(item) {
        $(item).remove();
      }
         
  </script>
  
  </body>
</html>
