<!DOCTYPE html>
<html>
  <head>
    <title>TaskYak </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://bsdp-assets.blackcherry.us/1.3.0/datepicker.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://bsdp-assets.blackcherry.us/1.3.0/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".date").datepicker();
      });  
    </script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>TaskYak</h1>
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <h2> Add task</h2>
          <form name="addtask" action="/addtask" method="post">
            <div class="form-group">
              <label>What ya gotta get done?</label>
              <input id="inputTaskName" type="text" placeholder="Get some milk dawg" name="taskName" class="form-control">
            </div>
            <div class="form-group">
              <label>How fast you wanna get done, lazy dawg?</label>
              <input id="inputTaskName" type="text" placeholder="1 is Fuck that shit, 10 is Now! Fucker" name="taskPriority" class="form-control">
            </div>
            <div class="form-group">
                <label>By When dude ?</label></br>
                <div class="input-group date">
                  <input type="text" class="form-control" Placeholder="How about 2020?" name="dueDate"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
            </div>
            <div class="form-group">
              <label>Who's gonna do that shit?</label></br>
                <% for(var i=0;i<users.length;i++){ %>
                <input type="checkbox" name = "taskDoer" value = <%= users[i].firstName+" "+users[i].lastName %>>
                <%= users[i].firstName+" "+users[i].lastName %></input></br>
                <%}%>
            </div>
            <button id="btnsubmit" type="submit" class="btn btn-warning btn-lg">Add it </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
