<!DOCTYPE html>
<html>
  <head>
  
    <title> TaskYak </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://bsdp-assets.blackcherry.us/1.3.0/datepicker.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/formValidator.js"/></script>
  <script src="/js/bootstrapValidator.min.js"/></script>
	<script type="text/javascript">
      $(function () {
        $(".date").datepicker();
      });

      $(document).ready(function() {

        $("button[name='add']").click(function () {
          var name = document.getElementById("Roommates").value
        $("#doers").append("<div id='this' onClick='removeFriend(this)' ><input type='text' style='border:none' name='list'  value='"+name+"' />"+"&nbsp;<span class='glyphicon glyphicon-remove' style='color:#7F7F7F;'></span><br></div>");
        $("#Roommates").val('');
        }); 

        $("#btnsubmit").click(function () {
          console.log("done");
          if($('#inputGroupName').val().length <=0)
          {
            event.preventDefault();
          }
        });



      });  
	  
	  function removeFriend(item) {
        $(item).remove();
      }
	  
	  </script>
   
  </head>
  <body onload="creategroupValidator();">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>TaskYak</h1>
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <h2> Create New Group</h2>
          <form id="creategroup" name="creategroup" action="/creategroup" method="post">
            <div class="form-group">
              <label>Group Name</label>
              <input id="inputGroupName" type="text" placeholder="Enter the name for your group" name="groupName" class="form-control">
            <div class="form-group">
              <label>Group Members</label></br>
			    <div class="col-md-9 col-xs-4">
					<input type="text" id="Roommates" name="Roommates" placeholder="Add new Roommate" class="form-control">
				</div>
				<div class="col-md-3 col-xs-4">
                  <button name="add" id="add" type="button" class="btn btn-info btn-sm" > Add </button> 
                </div>
            </div>
			<div id="doers"></div><br>
			<button id="btnsubmit" type="submit" class="btn btn-warning btn-sm">  Create Group </button>  
          </form>
        </div>
      </div>
    </div>
  </body>
</html>          