<!DOCTYPE html>
<html>
  <head>
    <title> TaskYak </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>TaskYak</h1>
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <a href="/creategroup" class="btn btn-default btn-lg">Create New Group</a>
          <br> 
          <a href="/groupdetails" class="btn btn-default btn-lg">My Group details</a>          
        </div>
      </div>
    </div>
  </body>
</html>          