<!DOCTYPE html>
<html>
  <head>
    <title>TaskYak </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="/js/bootstrapValidator.min.js"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://bsdp-assets.blackcherry.us/1.3.0/datepicker.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://bsdp-assets.blackcherry.us/1.3.0/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".date").datepicker();
      });

      $(document).ready(function() {
        $("button[name='add']").click(function () {
          var name = document.getElementById("roommates").value
        $("#doers").append("<div id='this' onClick='removeFriend(this)' ><input type='text' style='border:none' name='list'  value='"+name+"' />"+"&nbsp;<span class='glyphicon glyphicon-remove' style='color:#7F7F7F;'></span><br></div>");
        $("#roommates").val('');
        }); 
      });  
      
      function removeFriend(item) {
        $(item).remove();
      }
         
    </script>
  </head>
  <body>
    <div class="text-center">
      <h1><span class="fa fa-lock"></span>TaskYak</h1>
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <h2> List your Roommates </h2>
		  <br>
          <form name="listroommates" action="/listroommates" method="post">
            <div class="form-group">
			<label> Please specify a name for this list for our reference.</label>
              <input id="inputGroupName" type="text" placeholder="Group Name" name="groupName" class="form-control">
            </div>
            <div class="form-group">
              <label>Type a name and click the 'Add to List' button to see it in the list below</label></br>
                <div class="col-md-9 col-xs-4">
					<input class="form-control" type="text" name="roommates" id="roommates" placeholder="First Name">
                </div>
                <div class="col-md-3 col-xs-4">
                  <button name="add" id="add" type="button" class="btn btn-info btn-sm" > Add to List</button> 
                </div>
              </div>
              <div id="break">
                <br>
              </div>
              <div id="break">
                <br>
              </div>
              <div id="doers"></div><br>
              <button id="btnsubmit" type="submit" class="btn btn-warning btn-sm"> Create List </button>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
