
var userArr = ["karteek Pittala", "Maulik Kothari", "Sagar Thakur", "Ratish Dalvi"]
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TaskYak</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body>
<label for="autocom">Select a programming language: </label>
<input id="autocomp">
<br>
<br>
 <label for="listRoomMates">Enter you room-mates: </label>
 <input id="listRoomMates" placeholder = "Your friend name">
<script src= "/js/autocomp.js">
</script> 
</body>
</html>