<!DOCTYPE html>
<html>
  <head>
  <style>
	table, th, td{
		border: 1px solid black;
		border-collapse: colapse;
	}
	th, td{
		padding: 5px;
	}
  </style>
    <title> TaskYak </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>TaskYak  </h1>
    </div>
	<div align="center">
		<h2>Group List</h2>
	</div>
    <ul>
	<div align="center">
	<table>
		<tr>
			<th>Group Name</th>
			<th>Group Members </th>
		</tr>
    <% for(var i=0; i<groups.length; i++) {%>
		
		<tr>
			<td> <%= groups[i].groupName %> </td>
			<td> <%= groups[i].groupMembers %> </td>
		</tr>
		

    <% } %>
	</table>
	</div>
    </ul>
  </body>
</html>      